{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{pradesh_sabha.name}}
{% endblock title %}
    

{% block content %}
    
<div class="page-content">
        <div class="election-grid">
          <h1>{{ pradesh_sabha.name }}</h1> <br />
          <div class="election-grid team">{% for infor in infor %}{% if dis.id == infor.district.id %}
            <a href="#">{{ infor.name | capfirst }}</a>
          {% endif %}{% endfor %} <br />
<!--            <div class="election-grid">
              <bold>Is You VDC or Municipality missed?</bold>
              <span>Add Them Here <a href="#">Add VDC or Municipality</a></span>
            </div>
          </div>
        -->

          District:- {{pradesh_sabha.district}} <br/>
          Province:- {{pradesh_sabha.province}} <br/>
          Area    :- {{pradesh_sabha.area}} sq. km <br/>
          Population:- {{pradesh_sabha.population}}<br/>
          Voters:- {{pradesh_sabha.voters}} <br/>
          Is Marginal:- {{pradesh_sabha.is_marginal}}<br/>
          Parliamentiarian:- {{pradesh_sabha.winner}}<br/>
          Rulling Party:- <a href="{% url 'PoliticalPartyDetail' pradesh_sabha.won_political_party.pk %}">{{pradesh_sabha.won_political_party}}</a><br/>        </div>
      </div>
      <br />
{% endblock content %}

