{% extends 'base.html' %}


{% block title %}
    Login
{% endblock title %}
    


{% block content %}
<div class="election-grid">

{% if form.errors %}
<div class="election-alert election-alert-error" role="alert">
  <div class="election-alert-body">
    <h3 class="election-alert-heading">Buzz, Error!</h3>
    <p class="election-alert-text">Your username or password is incorrect.</p>
  </div>
</div>

{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="election-drop_text">
  <fieldset>
    <legend class="usa-drop_text">Sign in</legend>
    <span>or <a href="javascript:void(0);">create an account</a></span>
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div><br /><br /><br />
{% endblock content %}

    