{% extends 'base.html' %}


{% block title %}
    Volunteer Registration
{% endblock title %}
    


{% block content %}
<div class="election-grid">

{% if form.errors %}
<div class="election-alert election-alert-error" role="alert">
  <div class="election-alert-body">
    <h3 class="election-alert-heading">Buzz, Error!</h3>
    <p class="election-alert-text">Fix the Issues, First!!</p>
  </div>
</div>

{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    {% endif %}
{% endif %}

<form method="post" action="" class="election-drop_text">
  <fieldset>
    <legend class="usa-drop_text">Create an Account</legend>
    <span>or <a href="{% url 'login' %}">Sign in</a></span>
{% csrf_token %}

    {{form.as_p}}


<div>
  <input type="submit" value="Signup" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div><br /><br /><br />
{% endblock content %}

    