{% load static %}
</div>
<div class="feature-panel">
  {% if request.user.is_authenticated %}
  <h3><em>Thank you for your contribution.</em></h3>
  <h4>We are committed to providing free, comprehensive, standardized, linked set of election data for Nepal.</h4>
  {% else %}
  <h3><em>Believe our Cause?</em></h3>
  <h4>We are committed to providing free, comprehensive, standardized, linked set of election data for Nepal.</h4>
  {% endif %}
</div>

{% if request.user.is_authenticated %}


{% else %}
  <div class="join-button-container">
    <a href="{% url 'VolunteerSignUp' %}"><button class="join-button">Join Us</button></a>
  </div>
{% endif %}


</div>
