{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block title %} {% endblock title %} | Election Portal</title>
<link rel="shortcut icon" href="{% static '/img/favicons/favicon-16.png' %}">
<link rel="icon" sizes="16x16" href="{% static '/img/favicons/favicon-16.png' %}">
<!--[if IE 8]><link  media="all" rel="stylesheet" href="{% static '/css/fonts-ie8.css' %}" /><![endif]-->
<link media="all" rel="stylesheet" href="{% static '/css/fonts.css' %}" />
<link rel="stylesheet" href="{% static '/css/election.css' %}">
<link rel="stylesheet" href="{% static '/css/main.css' %}">
<script src="{% static '/js/election.js' %}"></script>