{% extends "frontbase.html" %}


{% block title %}
    Home
{% endblock title %}


{% block content %}
<div id="main-content">
<header id="front-hero">
    <div class="election-grid">
      <div class="election-width-two-thirds">
        <h1>Welcome to Election Portal</h1>
        <p class="election-font-lead">The best place to browse for everything Election 2074, Nepal.
          <br />
          <b>Simple, authentic, faster</b>
        </p>

        <form class="election-search election-search-big" method="GET" action= "{% url 'SearchResult' %}">
          <div role="search">
            <label class="election-sr-only" for="search-field-big">Search</label>
            <input id="search-field-big" type = 'search' name = 'search_q' value = '{{request.GET.Post}}' placeholder = 'Search Election Portal'/>
            <button type="submit">
              <span class="election-search-submit-text">Search</span>
            </button>
          </div>
        </form>
      </div>
      <div class="election-width-one-third">
        <div class="election-hero-callout election-section-dark">
          <h2>Popular on Election Portal</h2>
          <ul class="election-unstyled-list">
            {% for article in popular_articles %}
            <li><a href="{% url 'ArticleDetail' article.pk %}">{{article.title}}</a></br>
            </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </header>
  <br /><br />
<div class="election-grid">
  <div id="map" style="height: 400px; z-index:-10000"></div>

</div>
<div class="election-grid">
  <div class="borderline">
  <div class="election-width-one-third">
  <div class="large-numbers">

    <ol>
      <li><a href="#"><strong>{{ total_population }}</strong> Population</a></li>
      <li><a href="#"><strong>{{ total_voters }} </strong> Total Voters</a></li>
      <li><a href="#"><strong>{{ total_parties }}</strong> Political Parties with Election Sign</a></li>
    </ol>
  </div>
</div>
<div class="election-width-two-thirds">
<p class="election-font-lead intro">The Election Commission, Nepal (ECN) has finalized the voter list for the Local Level Election.</p>
<p class="election-font-lead">According to the final voter list released on 2 March 2017, the total number of voters are 14,054,482. Among them are 7,069,714 men; 6,984,625 women; and 143 third gender. The ECN will publicize the voter list through its own website following the completion of redetermination of polling centers throughout the country.</p>
</div>
  </div>
</div><br />

  <div class="election-grid">
    <div class="borderline">
    <div class="election-width-one-third">
      <h1>More on Election Portal</h1>
      <ul class="election-unstyled-list">
            {% for article in more_on_articles %}
          <li><a href="{% url 'ArticleDetail' article.pk %}">{{article.title}}</a></br>
          </a>
          </li>
          {% endfor %}
      </ul>
    </div>
    <div class="election-width-one-third">
      <h3>Most active</h3>
      <ul class="election-unstyled-list">
          {% for article in most_active_articles %}
          <li><a href="{% url 'ArticleDetail' article.pk %}">{{article.title}}</a></br>
          </a>
          </li>
          {% endfor %}
      </ul>
    </div></div>
    <div class="election-width-one-third">
      <div class="election-hero-callout election-section-dark">
        <h2 style="text-align:center;"><span class="election-hero-callout-alt" id="countdown"></span>Local Elections</h2>
        <a class="election-hero-link" href="#">Here's everything we know</a>

      </div>
    </div>
  </div><br /><br />
 <br/>
 <script>

	var map = L.map('map').setView([28.1999999, 84.100140], 7);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWVnYW1pbmRhdCIsImEiOiJjangxNHVmZmUwNW55NDhwNDJvampudHkwIn0.v0daI6grNCKDB-s2KU4pnA', {
    maxZoom: 8, minZoom: 6,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'mapbox.light'
  }).addTo(map);

  locallevel = L.geoJson(null, { style: function (feature) {
      return feature.properties && feature.properties.style;
    },

        onEachFeature: handleLayer,

  }).addTo(map)

 district = L.geoJson(null, { style: function (feature) {
      return {
                weight: 2,
                color: 'black',
                fillColor:'none'     
      }
    },
  })

 province = L.geoJson(null, { style: function (feature) {
      return {
                weight: 2,
                color: 'red',
                fillColor:'none'     
      }
    },
        
  })

  

  d3.json('/static/js/gisdata/municipality.topojson', function(error, data) {
  var neighborhoods = topojson.feature(data, data.objects.collection)
  locallevel.addData(neighborhoods);
})


d3.json('/static/js/gisdata/district.topojson', function(error, data) {
  var neighborhoods = topojson.feature(data, data.objects.collection)
  district.addData(neighborhoods);
})

d3.json('/static/js/gisdata/province.topojson', function(error, data) {
  var neighborhoods = topojson.feature(data, data.objects.collection)
  province.addData(neighborhoods);
})


var districtLayer = {
    "District": district,
};

var provinceLayer = {
     "Province": province,
};

L.control.layers(districtLayer,provinceLayer).addTo(map);


 function handleLayer(feature,layer){  
            layer.bindLabel(
            'ID :'+feature.properties.F_ID +'<br>'+
            'Municipality Name : '+feature.properties.NAME +'<br>'+
            'Municipality Level : ' + feature.properties.LEVEL +'<br>'+ 
            'District : ' + feature.properties.DISTRICT +'<br>',{noHide: true})

  layer.setStyle({
    fillColor : '#D5E3FF',
    fillOpacity: 1,
    color:'#555',
    weight:1,
    opacity:0.5
  });

  layer.on({
    mouseover: enterLayer,
    mouseout: leaveLayer
  });
  layer.on('click', function (e) {
    alert(layer.feature.properties.NAME)
        });
}


function enterLayer(){  
  this.bringToFront();
  this.setStyle({
    weight:2,
    opacity: 1
  });
}


function leaveLayer(){  
  this.bringToBack();
  this.setStyle({
    weight:1,
    opacity:.5
  });
}

</script>
{% endblock content %}
