{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{article.pk}}
{% endblock title %}


{% block content %}
    


  <section class="election-section election-section-dark election-graphic_list">
   <div class="election-grid election-graphic_list-row">
     <div class="election-width-one-half election-media_block">
       <div class="election-media_block-body">
         <a href="/blog" style="text-decoration:none;">

           <b>&#10094; &nbsp; Back to Blog</a></b>

           <p class="card-tag-post"> </p>
              <h2>{{article.title}}</h2>

<p class="post-byline">

  By
  
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        {{article.author}} | Takes {{article.time_read}} minutes to read.
    </span><br /><br />
              <span class="card-tag-text">Category:</span><br>
          <span class="post-tags" itemprop="keywords">
            
              <span class="election-label">
              <a href=""> {{article.category}}</a>
              </a>
            </span>
    
  
</p>


      </div>
    </div>
<div class="election-width-one-half">
     <img src="{{article.featured_image.url}}">
    </div>
  </div>
  </div>
</section>
{% if user.is_authenticated %}
    <div class="election-grid">
        <span><a href="{% url 'UpdateArticle' pk=article.pk %}">Update this blog.</a></span>
    </div>
        
    {% endif %}
<section class="election-section election-graphic_list">
   <div class="election-grid election-graphic_list-row">
      <div class="election-width-two-thirds election-media_block">
        <div class="election-media_block-body">
            <time datetime="" itemprop="datePublished">{{article.published_on}}</time>
          </p>

<br /><br />
{{article.body|safe}}
      </div>
<br />
      
        <section class="post-pagination election-grid">
          <div class="election-width-one-half">
            
              <b><a href="#" style="text-decoration:none;">
                <span class="link-arrow-left">
                &#10094;  Previous Post
                </span>
                <h5>&ldquo;This link represents the previous post, here'll be the title of that previous post.&rdquo;</h5>
              </a></b>
            
          </div>
          <div class="election-width-one-half">
            
                <b><a href="#" style="text-decoration:none;">
                  <span class="link-arrow-right">
                    Next Post &#10095;
                  </span>
                  <h5>&ldquo;This link represents the next post, here'll be the title of that next post&rdquo;</h5>
                </a></b>
            
          </div>
        </section>
      



    </div>

      <aside class="election-width-one-third section-info section-info-gray">
            <ul>
<div class="relatedPosts">

  <h3>Latest posts</h3>   
  {% for article in latest_three_articles  %} 
      <div>
      <p class="card-tag">{{ article.published_on }}</p>
      <p><a style="text-decoration: none;" href="{% url 'ArticleDetail' article.pk %}">{{ article.title }}</a></p>
      <br>
      </div>
{% endfor %}
</div>

</ul>
      </aside>
    </div>
  </section>

  </div>
  </div>
  <br />

    
{% endblock content %}