{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{article.pk}}
{% endblock title %}


{% block content %}
<div class="page-content">

    {% if user.is_authenticated %}
    <div class="election-grid">
        <span><a href="{% url 'UpdateArticle' pk=article.pk %}">Update this blog.</a></span>
    </div>
        
    {% endif %}


    <div class="election-grid">
      <h1>{{article.title}}</h1> <br />
    <div class="election-grid team">
      <img src={{article.featured_image.url}}>
      {{article.body|safe}}</br>
            {{article.author}}</br>
            {{article.time_read}}</br>
            {{article.published_on}}</br>
            {{article.category}}</br>
    </div>
  </div>
  </div>
  <br />
{% endblock content %}
    
    