{% extends 'base.html' %}
{% load static %}


{% block title %}
    Blog
{% endblock title %}




{% block content %}
    


    <div class="page-content">

    
    {% if user.is_authenticated %}
    <div class="election-grid">
        <bold>Wanna write a blog?</bold>
        <span>Add Them Here <a href="{% url 'AddArticle' %}">New Blog</a></span>
    </div>
        
    {% endif %}
        

      <section class="our-work blog">
  <div class="election-grid">
    <div class="election-width-one-whole">
      <h2>Our blog</h2>
      <p class="page-width-70">
        Read about our work, our team, some of our most recent accomplishments and beautiful stories we've read on the Internet.
      </p>
    </div>

    {% for article in articles  %}
      <div class="election-width-one-third story blog-item">
        <a href="{% url 'ArticleDetail' article.pk %}">
          <div class="blog-image" style="background-image:url({{article.featured_image.url}})" title="{{entry.image_description}}"></div>
        </a>
        <h3><a href="{% url 'ArticleDetail' article.pk %}">{{ article.title }}</a></h3>
      </div>
        {% endfor %}
        </div>
        <br /><br />
{% endblock content %}
    
    