{% extends 'base.html' %}
{% load static %}


{% block title %}
    Blog
{% endblock title %}




{% block content %}
    


    <div class="page-content">
        <div class="election-grid">
          <h1>Our Blog Section</h1> <br />
        <div class="election-grid team">
            {% for article in articles  %}
                <img src={{article.featured_image.url}}>
                <a href="{% url 'ArticleDetail' article.pk %}">{{article.title}}</a></br>
            {% endfor %}
        </div>
      </div>
      </div>
      <br />
        
{% endblock content %}
    
    