{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    All Candidates
{% endblock title %}

{% block content %}
<br /><br />

<div class="page-content">
  

    {% if user.is_authenticated %}
      <div class="election-alert election-alert-info" >
        <div class="election-alert-body">
          <h3 class="election-alert-heading">Since you've have an acess...</h3>
          <p class="election-alert-text">Is anyone missing? If the answer is yes, you may add a candidate <a href="{% url 'AddNominee' %}">here</a>.</p>
        </div>
      </div>
    <br /><br />
  {% endif %}
    <div class="election-grid">
    <div class="election-width-two-thirds">
      <h2>Candidates</h2>
    </div>
  </div><br />

<div class="election-grid">
<ul class="team election-unstyled-list">
{% for nominee in all_nominees %}
  <li>
    <a href="{% url 'NomineeDetail' pk=nominee.pk %}">
      {% if nominee.image %}
        <img src="{{nominee.image.url}}" alt="Photo of {{ nominee.full_name }}">
      {% else %}
        <img src="{% url 'home' %}static/img/noimage.png" alt="Placeholder Nepal Government logo since {{ nominee.full_name }} does not have a photo yet">
      {% endif %}
    </a>
    <div class="member-name">
      <a href="{% url 'NomineeDetail' pk=nominee.pk %}">{{ nominee.full_name | capfirst }}</a>
    </div>
  </li>
{% endfor %}
</ul>


</div>
<br />
{% endblock content %}