{% extends "base.html" %}
{% load static %}

{% block title %}
    All Political Parties
{% endblock title %}

{% block content %}

<br /><br />
<div class="page-content">
  {% if user.is_authenticated %}
    <div class="election-grid">
      <div class="election-alert election-alert-info" >
        <div class="election-alert-body">
          <h3 class="election-alert-heading">Since you've have an acess...</h3>
          <p class="election-alert-text">Did we miss anything? If yes, you may add it <a href="{% url 'AddPoliticalParty' %}">here</a>.</p>
        </div>
      </div>
    </div>
    <br /><br />
  {% endif %}
    <div class="election-grid">
    <div class="election-width-two-thirds">
      <h2>Political Parties</h2>
    </div>
  </div><br />


    <div class="election-grid">
      <div class="election-grid team">
          {% for political_party in all_political_parties %}
        <div class="election-width-one-fourth">
          <a href="{% url 'PoliticalPartyDetail' political_party.pk %}">
            {% if political_party.party_logo %}
            <img src="{{ political_party.party_logo.url}}" style="height:170px" alt="Photo of {{ political_party.name | title }}">
          {% else %}
            <img src="{% static '/img/ng_logo.png' %}" alt="Placeholder Government of Nepal logo since {{ political_party.name | title }} does not have a photo yet">
          {% endif %}
          </a>
          <div class="team member-name">
            <a href="{% url 'PoliticalPartyDetail' political_party.pk %}"><strong>{{political_party.name|title}}</strong></a>
          </div>
          <div class="role">
            <p>{{political_party.about|truncatechars:55 | safe}}</p>
          </div>
        </div>
        {% endfor %}   <br />

      </div>
    </div>

  </div>
  <br />
{% endblock content %}
